<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.care.root.member.dao.MemberDAO">
  
  <insert id="memberSave">
  	insert into membership(id,pw,name,addr) values(#{id},#{pwd},#{name},#{addr})
  </insert>
  
  <resultMap id="member" type="com.care.root.member.dto.MemberDTO">
  	<result property="id" column="id"/>
  	<result property="pwd" column="pw"/>
  	<result property="name" column="name"/>
  	<result property="addr" column="addr"/>  
  </resultMap>
  
  <select id="memberview" resultMap="member">
  	select * from membership
  </select>
  
  
  <select id="getMember" resultMap="member">
  	select * from membership where id=#{id}
  </select>
  
  <update id="update">
  	update membership set pw=#{pwd},name=#{name},addr=#{addr} where id=#{id} 
  </update>
  
  <delete id="del">
  	delete from membership where id=#{id}
  </delete>
  
  <select id="getUserSessionId" resultMap="member">
  	select * from membership where session_id=#{sessionId}
  </select>
  
  
 
  </mapper>